 DAEDALUS â€“ Distributed and Automated Evolutionary Deep Architecture Learning with Unprecedented Scalability

This research code was developed as part of the research programme Open Technology Programme with project number 18373, which was financed by the Dutch Research Council (NWO), Elekta, and Ortec Logiqcare.

Project leaders: Peter A.N. Bosman, Tanja Alderliesten
Researchers: Alex Chebykin, Arthur Guijt, Vangelis Kostoulas
Main code developer: Arthur Guijt

Due to a bug, a particular configuration failed to run successfully, resulting in an all-runs-failed assessment in the original run (`2022-12-13-scalability-ecga-trap-re-149d6ac-archive.csv.gz`).
We reran, this configuration, resulting in `2022-12-14-scalability-ecga-trap-re-2aa20e4-archive.csv.gz`. This notebook merges these two files, removing the original (bugged) sampled from the original run, replacing it with new samples from the rerun.

In [5]:
import pandas as pd
from IPython.display import display

In [12]:
# Load data
orig_runs = pd.read_csv("./results/2022-12-13-scalability-ecga-trap-re-149d6ac-archive.csv.gz")
reruns = pd.read_csv("./results/2022-12-14-scalability-ecga-trap-re-2aa20e4-archive.csv.gz")
out_path = "./results/2022-12-13-scalability-ecga-trap-re-149d6ac-2aa20e4-archive.csv.gz"
display(orig_runs)
display(reruns)

,Unnamed: 0,#evaluations,simulation time (s),objectives,archive ordinal,archive ordinals removed,genotype (categorical),problem,seed,l,vtr,instance,replacement_strategy,tournament_size,runtime_type,algorithm_type,population_size
0,0,2620.0,24.76,-28.0,1.0,NaN,0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 ...,deceptive trap,128,50,50,instances/trap__l_50__k_5.txt,5,4,expensive-ones-100,async-throttled,2620.0
1,1,3049.0,44.56,-30.0,2.0,1.0,1 0 1 1 1 0 0 0 1 0 1 0 0 0 0 1 0 1 0 1 1 0 0 ...,deceptive trap,128,50,50,instances/trap__l_50__k_5.txt,5,4,expensive-ones-100,async-throttled,2620.0
2,2,5314.0,83.18,-31.0,3.0,2.0,0 1 0 0 0 0 0 0 0 1 0 1 0 1 0 1 0 0 0 1 1 1 1 ...,deceptive trap,128,50,50,instances/trap__l_50__k_5.txt,5,4,expensive-ones-100,async-throttled,2620.0
3,3,5314.0,83.18,-32.0,4.0,3.0,1 1 1 1 1 0 0 0 0 0 1 1 1 1 0 0 1 1 0 1 1 1 1 ...,deceptive trap,128,50,50,instances/trap__l_50__k_5.txt,5,4,expensive-ones-100,async-throttled,2620.0
4,4,6802.0,102.98,-34.0,5.0,4.0,0 1 0 0 0 0 1 0 0 0 1 1 1 1 1 1 0 0 0 1 1 1 1 ...,deceptive trap,128,50,50,instances/trap__l_50__k_5.txt,5,4,expensive-ones-100,async-throttled,2620.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37907,7,22081.0,14.44,-45.0,8.0,7.0,1 1 1 1 1 0 0 0 0 1 0 0 0 0 0 1 1 1 1 1 1 1 1 ...,deceptive trap,100,50,50,instances/trap__l_50__k_5.txt,6,4,expensive-ones,async-throttled,2052.0
37908,8,22296.0,14.56,-47.0,9.0,8.0,1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 ...,deceptive trap,100,50,50,instances/trap__l_50__k_5.txt,6,4,expensive-ones,async-throttled,2052.0
37909,9,29359.0,19.90,-48.0,10.0,9.0,1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 1 1 1 1 1 1 1 1 ...,deceptive trap,100,50,50,instances/trap__l_50__k_5.txt,6,4,expensive-ones,async-throttled,2052.0
37910,10,30810.0,20.90,-49.0,11.0,10.0,1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 ...,deceptive trap,100,50,50,instances/trap__l_50__k_5.txt,6,4,expensive-ones,async-throttled,2052.0
37911,11,35351.0,24.60,-50.0,12.0,11.0,1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 ...,deceptive trap,100,50,50,instances/trap__l_50__k_5.txt,6,4,expensive-ones,async-throttled,2052.0

,Unnamed: 0,#evaluations,simulation time (s),objectives,archive ordinal,archive ordinals removed,genotype (categorical),problem,seed,l,vtr,instance,replacement_strategy,tournament_size,runtime_type,algorithm_type,population_size
0,0,3728,3.34,-33,1,NaN,1 0 0 0 1 0 0 0 0 1 0 0 0 0 0 1 1 1 1 1 0 0 1 ...,deceptive trap,67,50,50,instances/trap__l_50__k_5.txt,6,4,expensive-ones-10,sync,3728
1,1,11184,17.94,-34,2,1.0,0 0 0 1 0 1 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 ...,deceptive trap,67,50,50,instances/trap__l_50__k_5.txt,6,4,expensive-ones-10,sync,3728
2,2,11184,18.12,-39,3,2.0,0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 ...,deceptive trap,67,50,50,instances/trap__l_50__k_5.txt,6,4,expensive-ones-10,sync,3728
3,3,14912,26.68,-40,4,3.0,1 1 1 1 1 1 0 0 0 0 1 1 1 1 1 0 0 0 0 1 1 1 1 ...,deceptive trap,67,50,50,instances/trap__l_50__k_5.txt,6,4,expensive-ones-10,sync,3728
4,4,14912,28.66,-41,5,4.0,1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 0 0 0 0 1 ...,deceptive trap,67,50,50,instances/trap__l_50__k_5.txt,6,4,expensive-ones-10,sync,3728
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12066,4,12800,8.48,-44,5,4.0,0 0 0 0 0 1 1 1 1 1 0 0 0 0 0 1 1 1 1 1 0 0 0 ...,deceptive trap,102,50,50,instances/trap__l_50__k_5.txt,6,4,expensive-ones,sync,2560
12067,5,15360,10.34,-45,6,5.0,1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 ...,deceptive trap,102,50,50,instances/trap__l_50__k_5.txt,6,4,expensive-ones,sync,2560
12068,6,15360,10.52,-48,7,6.0,1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 ...,deceptive trap,102,50,50,instances/trap__l_50__k_5.txt,6,4,expensive-ones,sync,2560
12069,7,17920,12.48,-49,8,7.0,1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 ...,deceptive trap,102,50,50,instances/trap__l_50__k_5.txt,6,4,expensive-ones,sync,2560
12070,8,17920,12.58,-50,9,8.0,1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 ...,deceptive trap,102,50,50,instances/trap__l_50__k_5.txt,6,4,expensive-ones,sync,2560

In [13]:
# filter out the synchronous generational runs
orig_runs = orig_runs[(orig_runs["replacement_strategy"] != 6) | (orig_runs["algorithm_type"] != "sync")]

In [14]:
# combine
all_runs = pd.concat([orig_runs, reruns])

In [15]:
# save
all_runs.to_csv(out_path)